<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visitors</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
    <script src="../static/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#logout').click(function () {
                console.log('token revoked! please log in again!');
                alert('Logged out successfully!');
                localStorage.clear();
            })
        })
    </script>
</head>
<body>
    <h1>sample visitors landing page</h1>
    <a id="schedule" href="{{ url_for('schedule_visit') }}">schedule a visit</a><br>
    <a id="comment" href="{{ url_for('post_comment')}}">submit a comment</a><br>
    <a id="logout" href="{{ url_for('logout') }}">log out here</a>

</body>
</html>