<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/jquery-3.3.1.min.js"></script>
    <script>

var tokens = localStorage.getItem('token');
$(document).ready(
function viewPrisoner(){
    table();
    viewPris();
    showRes();
 })

function viewPris(){

    $("#view_id").show(); //Id ni siya na gamiton sa html

$.ajax({
          url: 'http://127.0.0.1:5000/api/clerk/prisoner_data',
          type: "GET",
          dataType: "json",
          crossDomain: true,
           headers: {
                'x-access-token': tokens
                    },
          success: function(resp) {

            if (resp.status  === 'ok') {
               for (i = 0; i < resp.count; i++) {
                              firstname = resp.entries[i].firstname;
                              middlename = resp.entries[i].middlename;
                              lastname = resp.entries[i].lastname;
                              birthday = resp.entries[i].birthday;
                              age = resp.entries[i].age;
                              $("#view_id").append(showRes(firstname,middlename,lastname,birthday,age));
                                                }
            } else {
                $("#view_id").html("");
               alert('No Data')
                    }
                                    }
      });
                    }

function showRes(firstname,middlename,lastname,birthday,age)
{
   return '<div class="widget-content">'+
            '<table class="table table-striped table-bordered" id="view_res">'+
                '<tbody><tr class="edit" id="details">'+
                    '<td>'+ firstname +'</td>'+
                    '<td>'+ middlename +'</td>'+
                    '<td>'+ lastname +'</td>'+
                    '<td>'+ birthday +'</td>'+
                    '<td>'+ age +'</td>'+
                '</tr></tbody>' +
            '</table>' +
       '</div>'
}


function table()
{
     $("table.table-bordered").html('<thead><tr>' +
            '<th>First Name</th>' +
            '<th>Middle Name</th>' +
            '<th>Last Name</th>' +
            '<th>Birthday</th>' +
            '<th>Age</th>' +
            '</tr></thead>')
}
</script>
</head>
<body>
<!--<center> <button type="Submit" onclick="viewAll();">submit</button><br><br></center>-->
<!--table-->
<div class="container">
    <div class="row">

        <!--<div class="span7">-->
            <div class="widget stacked widget-table action-table">
                <div class="widget-content">
                    <table class="table table-striped table-bordered">

                    </table>
                </div>
                <div id="view_id"></div>
            </div>
        <!--</div>-->
    </div>
</div>
</body>
</html>
