<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<script type="text/javascript" src="../static/jquery-3.3.1.min.js"></script>
		<link href="../static/bootstrap.min.css" rel="stylesheet" type="text/css">
		<!--<style>-->
    	<!--form {-->
			<!--margin: 0 auto;-->
			<!--width:400px;-->
		<!--}-->
		<!--</style>-->
		<script>
        $(document).ready(function () {
            $('#target').submit(function () {
                var username = $("#username").val();
                var password = $("#password").val();
                var firstname = $("#fname").val();
                var middlename = $("#mname").val();
                var lastname = $("#lname").val();
                var age = document.getElementById('age').innerHTML;
                var contact = $("#number").val();
                var address = $("#address").val();
                var birthday = $("#bday").val();

                $.ajax({
                    url: "http://127.0.0.1:5000/api/addclerk",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        'username':username,
                        'password':password,
                        'firstname':firstname,
                        'middlename':middlename,
                        'lastname':lastname,
                        'age':age,
                        'contact':contact,
                        'address':address,
                        'birthday':birthday
                    }),
                    method: "POST",
                    dataType: "json",
                    crossDomain: true,
                    success: function () {
                        console.log("success");
                        alert("registration success!");
                        window.location.href='/login'
                    },
                    error: function () {
                        console.log('error')
                    },
                    complete: function (jqXHR) {
                        if (jqXHR.status == '401') {
                            console.log(jqXHR.status)
                        }
                    }
                })
            });
        })
    </script>
    <script>
        function submitBday() {
                var Q4A = "";
                var Bdate = document.getElementById('bday').value;
                var Bday = +new Date(Bdate);
                Q4A += "" + ~~ ((Date.now() - Bday) / (31557600000));
                var theBday = document.getElementById('age');
                var age = theBday.innerHTML = Q4A;
            }
    </script>
    </head>
<body>

	<header>
		<center><h1>Clerk Registration Form</h1></center>
	</header>
	<div class="container">
	<form style="margin: 0 auto; width:400px;" id="target">
  		<div class="form-group">
			<label><i class="fa fa-user-circle"></i> Username</label>
    		<p><input type="text" class="form-control" id="username" placeholder="Enter username"></p>

    		<label><i class="fa fa-lock"></i> Password</label>
    		<p><input type="password" class="form-control" id="password" placeholder="Enter password"></p>

  			<label><i class="fa fa-user"></i> First Name</label>
    		<p><input type="text" class="form-control" id="fname" placeholder="Enter first name"></p>
    		
    		<label><i class="fa fa-user"></i> Middle Name</label>
    		<p><input type="text" class="form-control" id="mname" placeholder="Enter middle name"></p>
    		
    		<label><i class="fa fa-user"></i> Last Name</label>
    		<p><input type="text" class="form-control" id="lname" placeholder="Enter last name"></p>

    		<div>
     			 <label><i class="fa fa-calendar"></i> Date of Birth</label>
     			 <p><input type="date" class="form-control" id="bday" placeholder="Date of Birth" onchange="submitBday()"></p>
    		</div>
			<p hidden id="age"></p>

    		<label><i class="fa fa-address-card"></i> Address</label>
    		<p><input type="text" class="form-control" id="address" placeholder="Enter address"></p>

    		<label><i class="fa fa-phone-square"></i> Contact Number</label>
    		<p><input type="text" class="form-control" id="number" placeholder="Enter contact number"></p>
    		
    		<!--<label><i class="fa fa-envelope"></i> Email</label>-->
    		<!--<p><input type="email" class="form-control" id="email" placeholder="Enter email"></p>-->

  		</div>
		<center><input type="submit" class="btn btn-primary" name="Register" value="Register" id="btn"></center>
	</form>
    </div>
</body>
</html>