<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BJMP | Home</title>


    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/css/sairaextracondensed.css" rel="stylesheet">
    <link href="../static/css/opensans.css" rel="stylesheet">
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/resume.min.css" rel="stylesheet">
    <link href="../static/css/resume.css" rel="stylesheet">


    <script type="text/javascript" src="../static/jquery-3.3.1.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#scheduleform').submit(function () {
                var nameP = $("#nameP").val();
                var vDate = $("#vDate").val();
                var numV = $("#numV").val();
                var timeV = $("#timeV").val();
                var relation = $("#relation").val();
                var tokens = localStorage.getItem('token');
                var pub = localStorage.getItem('public_id');
                $.ajax({
                    url: "http://127.0.0.1:5000/api/user/visitation",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        'nameP': nameP,
                        'vDate': vDate,
                        'numV': numV,
                        'timeV': timeV,
                        'relation': relation,
                        'public_id': pub
                    }),
                    method: "POST",
                    dataType: "json",
                    crossDomain: true,
                    headers: {
                        'x-access-token': tokens
                    },
                    success: function (resp) {
                        alert(resp.message);
                        window.location.href = '/visitor/landing'
                    },
                    error: function () {
                        alert('server error! click ok to reload!');
                        window.location.reload();

                    }
                })
            });
            $('#commentform').submit(function () {
                var comment = $("#comment").val();
                var tokens = localStorage.getItem('token');
                var pub = localStorage.getItem('public_id');
                $.ajax({
                    url: "http://127.0.0.1:5000/api/user/comment",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        'comment': comment,
                        'public_id': pub
                    }),
                    method: "POST",
                    dataType: "json",
                    crossDomain: true,
                    headers: {
                        'x-access-token': tokens
                    },
                    success: function (resp) {
                        alert(resp.message);
                        window.location.href = '/visitor/landing'
                    },
                    error: function () {
                        alert('server error! click ok to reload!');
                        window.location.reload();
                    }
                })
            });
            $('#logout').click(function () {
                console.log('token revoked! please log in again!');
                localStorage.clear();
                window.location.href = '/logout'
            })
        })
    </script>

</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">

        <span class="d-block d-lg-none">BJMP</span>
        <span class="d-none d-lg-block">
            <img class="img-responsive center-block" src="../static/img/bjmp2.jpg" alt="">

        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">

                <a class="nav-link js-scroll-trigger" href="#announcements">Announcements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#rules">Rules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#schedule">Schedule of Visit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#comments">Comments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" id="logout" href="#">Logout</a>
            </li>

        </ul>
    </div>
</nav>


<!--Announcement-->
<section class="resume-section p-3 p-lg-5 d-flex d-column" id="announcements">
    <div class="my-auto">
        <h1 class="mb-5">ANNOUNCEMENTS</h1>
        <ul>
            <h3><li><a href="#">04/04/18 Lorem Ipsum</a></li>
            <li><a href="#">04/20/18 Lorem Ipsum</a></li>
                <li><a href="#">05/01/18 Lorem Ipsum</a></li></h3>


        </ul>
    </div>
</section>

<div class="container-fluid p-0">

    <div class=" container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="rules">
            <div class="my-auto">
                <h1 class="mb-0">RULES and
                    <span class="text-primary">INFORMATION</span>
                </h1>

                <h3>Things that are not allowed inside the BJMP premises</h3>
                <div class="card-deck col-sm-10">
                    <div class="card border-white rounded text-black bg-white mb-3">
                        <img class="card-img-top" src="../static/img/gadgets.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><img src="../static/img/gadgets-icon.png"> Gadgets</h5>
                            <p class="card-text">Cellural phones, laptops, memory, storage device, cameras and other
                                electronic devices/gadgets are not allowed inside</p>
                            <p class="card-text">
                                <small class="text-muted"></small>
                            </p>
                        </div>
                    </div>

                    <div class="card border-white text-black bg-white mb-3">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="../static/img/yellow.jpg" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../static/img/orange.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../static/img/fatigue.jpg" alt="Third slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../static/img/sleeveless.jpg" alt="Third slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../static/img/jacket.jpg" alt="Third slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../static/img/caps.jpe" alt="Third slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../static/img/bonnet.jpg" alt="Third slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../static/img/shades.jpg" alt="Third slide">
                                </div>

                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next primary" href="#carouselExampleControls" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="card-body ">
                            <h5 class="card-title"><img src="../static/img/shirt.png"> Clothes</h5>
                            <p class="card-text">Yellow, Orange, Camouflage shirts and shorts, Sleevless tops(revealing
                                clothes), Jackets, Caps, Bonnets and shades.</p>
                            <p class="card-text">
                                <small class="text-muted"></small>
                            </p>
                        </div>
                    </div>

                    <div class="card border-white text-black bg-white mb-3">
                        <img class="card-img-top" src="../static/img/sharp.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><img src="../static/img/knife.png">Sharp Weapons</h5>
                            <p class="card-text">Knife, Swiss knife, Ice pick, sciccors and other sharp weapons are not
                                allowed</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck col-sm-10 ">
                    <div class="card border-white text-black bg-white mb-3">
                        <img class="card-img-top" src="../static/img/guns.jpe" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><img src="../static/img/icon1.png"> Firearms and Explosive Devices
                            </h5>

                        </div>
                    </div>
                    <div class="card border-white text-black bg-white mb-3">
                        <img class="card-img-top" src="../static/img/drugs.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><img src="../static/img/drug-icon.png"> Illegal Drugs</h5>
                            <p class="card-text">Shabu, Cocaine, Marijuana(all illegal drugs), Cigarette and all
                                alcoholic drinks </p>
                        </div>
                    </div>
                    <div class="card border-white text-black bg-white mb-3">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="../static/img/break.jpg" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../static/img/stainless.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../static/img/cologne.jpg" alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next primary" href="#carouselExampleControls" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><img src="../static/img/fragile.png"> Breakable</h5>
                            <p class="card-text">All things that are breakable and stainless, bottled colognes/perfumes
                                with sprayhead and pressurized colognes/perfumes.</p>
                        </div>
                    </div>
                </div>

                <div class="card rounded" id="list">
                    <div class="card-body">
                        <ul>
                            <li>Cans, <span style="font-style: italic;">Bulad, Ginamos and Uyap</span> are <span
                                    class="font-weight-bold" style="color: #BD5D38;">ALSO</span> not allowed inside
                            </li>
                            <li>Drunk or Under inlfuence of alcohol is <span class="font-weight-bold"
                                                                             style=" color:  #BD5D38">STRICTLY</span>
                                not allowed inside
                            </li>
                            <li>Children under 13 years of age can <span class="font-weight-bold"
                                                                         style="color: #BD5D38">ONLY</span> enter the
                                BJMP premises during the scheduled Family day of the inmate
                            </li>
                            <li>During Family Day, <span class="font-weight-bold" style=" color: #BD5D38">ONLY</span>
                                the immediate family members are allowed to enter the BJMP premises (maximum of 3
                                persons) ex. <span
                                        style="font-style: italic;">Wife, Children, Parents or Siblings.</span></li>
                        </ul>
                    </div>
                </div>

            </div>
    </div>
    <h1 style="text-align: center">Visitation Service</h1>
    <div class=" container-fluid">
        <div id="c2table">

            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col"><h3 class="mb-0">STEP</h3></th>
                    <th scope="col"><h3 class="mb-0">Applicant/Client</h3></th>
                    <th scope="col"><h3 class="mb-0">Service Provided</h3></th>
                    <th scope="col"><h3 class="mb-0">Duration of Activity</h3></th>
                    <th scope="col"><h3 class=" mb-0">Person In-Charge</h3></th>
                    <th scope="col"><h3 class=" mb-0">Form</h3></th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Proceed to the Desk Officer Area to secure Visitor's Form</td>
                    <td>Desk officer issue Visitor's Form</td>
                    <td>2 minutes</td>
                    <td>Desk officer</td>
                    <td>Visitor Form</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Submit the accomplished form to the Desk Officer</td>
                    <td>Recieve and Evaluate the identity of the Visitor and issue temporary control/Visitor's tag and
                        stamp jail seal or "VISITOR" ont the right hand of the Visitor
                    </td>
                    <td>2 minutes</td>
                    <td>Desk officer</td>
                    <td>None</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Proceed to the Search Area for frisking, search and other SOP's on Jail Visitation</td>
                    <td>Visitor is subjected to body search and his/her belongings. Items such as money, jewelries,
                        cellular phones, etc. are to be kept by the Jail Property Custodian who will issue Property
                        Control tag
                    </td>
                    <td>5-10 minutes</td>
                    <td>Searcher and Property Custodian</td>
                    <td>None</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Proceed to Visiting Area</td>
                    <td>Provide the Visitor with a short briefing on basic Jail Rules and Regulations</td>
                    <td>5 minutes</td>
                    <td>Duty Officer/ Visiting Area Personnel</td>
                    <td>None</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Upon termination of Visiting time, proceed to the Property Custodian and Surrender the Property
                        Control Tag
                    </td>
                    <td>Return the personal belonging/s of the Visitor</td>
                    <td>2 minutes</td>
                    <td>Property Custodian</td>
                    <td>None</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Proceed to the Desk Officer to claim I.D.</td>
                    <td>Check the presence of stamp "Jail" seal or the word "VISITOR" on the right hand of the visitor
                        before allowing the person to get out
                    </td>
                    <td>2 minutes</td>
                    <td>Desk Officer</td>
                    <td>None</td>
                </tr>
                <tr>
                    <th colspan="6"><h3 class="font-weight-bold">END OF TRANSACTION</h3></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div id="c2box1">
        <h3>Schedule of Availability of Service:</h3>
        <p> 8:00 AM - 5:00 pm, Monday to Friday without noon break.</p>
        <h3>Who May Avail the Service:</h3>
        <p> Spouse, Parent, Child, Sibling, Relative or friend of the Inmate</p>
        <h3>What are the Requirements:</h3>
        <p> Valid Identification Card or Community Tax Certificate</p>
        <h3>Duration: </h3>25 - 30 minutes
        <p>*No fee, charge or payment for the service(s)</p>
    </div>

</div>

</section>


<!--SCHEDULE OF VISIT-->
<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="schedule">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">

                <div class="page-header">
                    <h2>
                        Schedule of Visitation
                    </h2>
                </div>


                <form id="scheduleform" role="form">
                    <label>
                        <i class="fa fa-user"></i> Inmate Complete Name:
                    </label>
                    <p>
                        <input type="text" class="form-control" id="nameP" placeholder="" required>
                    </p>

                    <label>
                        <i class="fa fa-heart"></i> Relation to Inmate
                    </label>
                    <p>
                        <select class="form-control" id="relation" required>
                            <option value="" selected disabled hidden>Choose here</option>
                            <option value="Spouse">Spouse</option>
                            <option value="Parent">Parent</option>
                            <option value="Child">Child</option>
                            <option value="Sibling">Sibling</option>
                            <option value="Relative">Relative</option>
                            <option value="Friend">Friend</option>
                        </select>
                    </p>


                    <label><i class="fa fa-calendar"></i> Date</label>
                    <p><input type="date" class="form-control" id="vDate" placeholder="Date" required></p>
                    <label><i class="fa fa-users"></i> Number of Visitors</label>
                    <p>
                        <select class="form-control" id="numV" required>
                            <option value="" selected disabled hidden>Choose here</option>
                            <option value="1">1 (Alone)</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </p>

                    <label>
                        <i class="fa fa-clock-o"></i> Time
                    </label>

                    <p>
                        <select class="form-control" id="timeV" required>
                            <option value="" selected disabled hidden>Choose here</option>
                            <option value="8:00 AM">08:00 AM</option>
                            <option value="8:30 AM">08:30 AM</option>
                            <option value="9:00 AM">09:00 AM</option>
                            <option value="9:30 AM">09:30 AM</option>
                            <option value="10:00 AM">10:00 AM</option>
                            <option value="10:30 AM">10:30 AM</option>
                            <option value="11:00 AM">11:00 AM</option>
                            <option value="11:30 AM">11:30 AM</option>
                            <option value="12:00 PM">12:00 PM</option>
                            <option value="12:30 PM">12:30 PM</option>
                            <option value="1:00 PM">1:00 PM</option>
                            <option value="1:30 PM">1:30 PM</option>
                            <option value="2:00 PM">2:00 PM</option>
                            <option value="2:30 PM">2:30 PM</option>
                            <option value="3:00 PM">3:00 PM</option>
                            <option value="3:30 PM">3:30 PM</option>
                            <option value="4:00 PM">4:00 PM</option>
                            <option value="4:30 PM">4:30 PM</option>
                            <option value="5:00 PM">5:00 PM</option>
                        </select>
                    </p>

                    <button type="submit" class="btn btn-primary btn-md" onclick="">
                        Submit
                    </button>


                </form>
            </div>
        </div>
    </div>
</section>

<!--Comments-->
<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="comments">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">

                <div class="page-header">
                    <h2>
                        Comments & Suggestions
                    </h2>
                </div>


                <form id="commentform" role="form">


                    <label>
                        <i class="fa fa-comments"></i> Do you have any comments or suggestions? We would love to hear
                        from you!
                    </label>
                    <p>
                        <textarea class="form-control" id="comment" placeholder="" required
                                  style="resize: none;width: 75%; height: 200px; text-align: left;padding-left:0;padding-top:0;padding-bottom:0.4em;padding-right: 0.4em;"></textarea>
                    </p>

                    <button type="submit" class="btn btn-primary btn-md" onclick="">
                        Submit
                    </button>


                </form>
            </div>
        </div>
    </div>
</section>


</div>


<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../static/js/resume.min.js"></script>

</body>

</html>
