<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clerks</title>
    <link type="text/css" rel="stylesheet" href="../static/bootstrap.min.css">
    <script type="text/javascript" src="../static/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#logout').click(function () {
                console.log('token revoked! please log in again!');
                alert('Logged out successfully!');
                localStorage.clear();
            })
        })
    </script>
</head>
<body>
    <h1>Clerk landing page</h1>
    <a id="view" href="{{ url_for('view_visitor') }}">view visitors</a><br>
    <a id="viewp" href="{{ url_for('view_prisoner') }}">view prisoners</a><br>
    <a id="logout" href="{{ url_for('logout') }}">log out here</a>
</body>
</html>
